saiAudio.json
[
    {
        "id": "5a044aaf9dc1cb39",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d2cb487344f7fd7",
        "type": "watson-text-to-speech",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_LucasExpressive",
        "voicehidden": "pt-BR_LucasExpressive",
        "format": "audio/wav",
        "password": "",
        "apikey": "kgs7p8UlUJJOyFdDKCsXoNymOBaBP9TR9wGC30LMSrHK",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "90450ceccfb2b004"
            ]
        ]
    },
    {
        "id": "fabee4b9552d385e",
        "type": "inject",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hackatruck",
        "payloadType": "str",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "9d2cb487344f7fd7"
            ]
        ]
    },
    {
        "id": "90450ceccfb2b004",
        "type": "play audio",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "voice": "0",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "920fbbca6717ea36",
        "type": "microphone",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "13161ed6c2babcd6"
            ]
        ]
    },
    {
        "id": "8e7f5a6ef4dc20b8",
        "type": "debug",
        "z": "5a044aaf9dc1cb39",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "13161ed6c2babcd6",
        "type": "watson-speech-to-text",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "3wgpYVzRA0HjX1THjo8fE67ciw9GuSlGiS8zVy5Zjx9x",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/fe33ec40-f0af-482a-a1c9-b0b45e81d9b0",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "d83336f17b9635d5"
            ]
        ]
    },
    {
        "id": "d83336f17b9635d5",
        "type": "watson-translator",
        "z": "5a044aaf9dc1cb39",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "RywVwoq46nRS50WsOdGy7gKaIxE-2kjnvVHqyuoiW24s",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "8e7f5a6ef4dc20b8"
            ]
        ]
    }
]